@import 'Variables';

.contact-content {
  background: radial-gradient(circle at top, #666, #444);
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #616161;
  box-sizing: border-box;
  height: 100%;
  margin-bottom: 0;
  min-height: calc(100vh - 433px);
  width: 100%;

  .contact-title {
    padding: 20px;
    text-align: center;
  }

  .contact-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 24px;
    margin-top: 0;
    padding-top: 0;

    div {
      box-sizing: border-box;
      max-width: 450px;
      min-width: 300px;
      padding: 0 20px 20px;
      width: 50%;
    }

    form.jbd-contact-form {
      $text-box-padding: 8px 15px 8px 15px;
      background: radial-gradient(circle at top, #eee, #bbb);
      border {
        top: 1px solid white;
      }
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba($black, .45);
      box-sizing: border-box;
      color: $text-dark;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      max-width: 400px;
      padding: 10px;

      & > * {
        box-sizing: border-box;
        display: block;
        width: 100%;
        @include center(12px);
      }

      label {
        margin: {
          bottom: 0;
          left: 5px;
        }
      }

      input {
        border-radius: 25px;
        border: 1px solid rgba(black, .30);
        color: $text-dark;
        padding: $text-box-padding;
        width: 100%;

        &:focus {
          outline: 0;
        }

        &[type='submit'] {
          @include center(10px);
          background: $puerto-rico;
          border: 0;
          color: $white;
          cursor: pointer;
          width: 180px;
          transition: all 0.2s linear;

          &:hover {
            background: lighten($puerto-rico, 10%);
          }
        }
      }

      textarea {
        border-radius: 5px;
        padding: 10px;
        width: 100%;

        &:focus {
          outline: 0;
        }
      }
    }
  }
}
