$cyan-aqua: rgba(0, 204, 255, 1);
$puerto-rico: rgba(55, 200, 171, 1);
$deep-cerulean: rgba(0, 136, 170, 1);
$blue-ribbon: rgba(0, 102, 255, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$text-light: rgba(255, 255, 255, .84);
$text-dark: rgba(0, 0, 0, .75);

@mixin center($margin: 12px) {
  position: relative;
  margin: $margin auto;
}

$glass: rgba($white, .1);
$glass-glow-1: rgba(0, 136, 170, .7);
$glass-glow-2: rgba(25, 25, 25, .7);
$bg-glass: radial-gradient(at bottom, $glass-glow-1, $glass-glow-2), linear-gradient(45deg, transparent 10%, $glass 20%, transparent 20%, transparent 30%, $glass 30%, transparent 40%, transparent 46%, $glass 50%, transparent 50%, transparent 70%, $glass 75%, transparent 75%, $glass 90%, transparent 90%, $glass 95%, $glass 100%);

$footer-gradient-1: rgba(34, 34, 34, 1);
$footer-gradient-2: rgba(21, 21, 21, 1);
$footer-top: rgba(25, 25, 25, 1);

// .color-bar {
//   background: linear-gradient(90deg, #FF4A4A, #D9D975, #0F800F, #5F5FFF, #803880);
//   content: '';
//   height: 1px;
//   position: relative;
//   width: 100%;
//   top: 0;
//   left: 0;
//   z-index: 1;
//   &::after {
//     background: linear-gradient(90deg, #FF4A4A, #D9D975, #0F800F, #5F5FFF, #803880);
//     content: '';
//     filter: blur(5px);
//     height: 3px;
//     opacity: 0.7;
//     position: absolute;
//     width: 100%;
//     z-index: 1;
//   }
// }

.large-icon {
  display: block;
  font-size: 64px;
  margin: 0 auto;
  text-align: center;
}
